SECRET_KEY=             # Secret key for encryption

ACCESS_TOKEN_EXPIRE=        
REFRESH_TOKEN_EXPIRE=

QRCODE=

TEST_STORAGE=
STORAGE_HOST=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_URL=

ENABLE_PSQL=
PSQL_DB=
PSQL_USER=    
PSQL_PWD=   
PSQL_HOST=    
PSQL_PORT=