argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
bcrypt==4.2.0
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
Django==5.1.1
django-environ==0.11.2
idna==3.8
minio==7.2.8
pycparser==2.22
pycryptodome==3.20.0
PyJWT==2.9.0
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
